{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" href="{% static 'images/eic-logo.svg' %}" type="image/png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock %}</title>
        {% block meta_tags %}{% endblock %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>
    <body>
        {% block full_content %}{% endblock %}
        {% block js_links %}{% endblock %}
    </body>
</html>