services:
  redis:
    image: redis:7-alpine
    container_name: redis_server
    restart: unless-stopped
    command: ["redis-server", "--appendonly", "yes"]
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - backend
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    env_file:
      - ./backend/.env.dev
    volumes:
      - ./backend/staticfiles:/backend/staticfiles
      - ./backend/media:/backend/media
      - ./backend/db.sqlite3:/app/db.sqlite3
    ports:
      - "8000:8000"
    depends_on:
      redis:
        condition: service_healthy
    networks:
      - web
      - backend
    restart: unless-stopped
    container_name: backend
    healthcheck:
      test: ["CMD-SHELL", "nc -z localhost 8000"]
      interval: 5s
      timeout: 3s
      retries: 10
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    env_file:
      - ./frontend/.env.local
    ports:
    - "3000:3000"
    depends_on:
      backend:
        condition: service_healthy
    networks:
      - web
      - backend
    restart: unless-stopped
  
networks:
  web:
    driver: bridge
  backend:
    driver: bridge

volumes:
  redis_data:
