version: "3.9"

services:
  # ==================== Frontend =====================
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
    env_file:
      - ./frontend/.env.production
    expose:
      - "3000"
    networks:
      - web

  # =================== Backend =======================
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
    env_file:
      - ./backend/.env.prod
    command: >
      sh -c "
        python manage.py migrate --noinput --fake-initial &&
        python create_superuser.py &&
        python manage.py collectstatic --noinput &&
        daphne -b 0.0.0.0 -p 8000 app.asgi:application
      "
    volumes:
      - ./backend/db.sqlite3:/app/db.sqlite3 
      - ./backend/static:/app/static
      - ./backend/media:/app/media
    expose:
      - "8000"
    networks:
      - web
      - backend
    deploy:
      resources:
        limits:
          memory: 1g

  # ==================== Nginx =======================
  nginx:
    image: nginx:1.27-alpine
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    networks:
      - web
    volumes:
      - ./nginx/assets.conf:/etc/nginx/conf.d/default.conf:ro
      - ./backend/static:/usr/share/nginx/html/static:ro
      - ./backend/media:/usr/share/nginx/html/media:ro
      - /etc/ssl/eic.com.bd:/etc/ssl/eic.com.bd:ro
      - /etc/ssl/eicsec.com:/etc/ssl/eicsec.com:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro

# ================= NETWORKS ======================
networks:
  web:
    driver: bridge
  backend:
    driver: bridge
