version: "3.9"

services:

  redis:
    image: redis:7-alpine
    container_name: redis_server
    restart: unless-stopped
    command: ["redis-server", "--appendonly", "yes"]
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - backend
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
    env_file:
      - ./backend/.env.prod
    volumes:
      - ./backend/staticfiles:/backend/staticfiles
      - ./backend/media:/backend/media
    expose:
      - "8000"
    depends_on:
      - redis
    networks:
      - web
      - backend
    restart: unless-stopped
    
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
    env_file:
      - ./frontend/.env.production
    expose:
      - "3000"
    depends_on:
      - backend
    networks:
    - web
    restart: unless-stopped

  nginx:
    image: nginx:1.27-alpine
    restart: unless-stopped
    depends_on:
      - frontend
      - backend
    ports:
      - "80:80"
      - "443:443"
    networks:
      - web
    volumes:
      - ./nginx/assets.conf:/etc/nginx/conf.d/default.conf:ro
      - ./backend/staticfiles:/backend/staticfiles:ro
      - ./backend/media:/backend/media:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro

networks:
  web:
    driver: bridge
  backend:
    driver: bridge

volumes:
  redis_data:
