version: "3.9"

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
    env_file:
      - ./frontend/.env.production
    expose:
      - "3000"
    networks:
      - web

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
    env_file:
      - ./backend/.env.prod
    volumes:
      - ./backend/staticfiles:/backend/staticfiles
      - ./backend/media:/backend/media
    expose:
      - "8000"
    networks:
      - web
      - backend

  nginx:
    image: nginx:1.27-alpine
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    networks:
      - web
    volumes:
      - ./nginx/assets.conf:/etc/nginx/conf.d/default.conf:ro
      - ./backend/staticfiles:/backend/staticfiles:ro
      - ./backend/media:/backend/media:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro

networks:
  web:
    driver: bridge
  backend:
    driver: bridge
