input[type="text"],
input[type="file"],
input[type="url"],
input[type="email"],
input[type="number"],
select,
textarea {
    width: 100% !important;
    border: 1px solid #ccc !important;
    border-radius: 4px;
    padding: 4px;
}
.django-ckeditor-widget {
    width: 100% !important;
}
