@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    background-color: #3384BD;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-inline: 16px;
}

.content h1 {
    font-size: 48px;
    line-height: 56px;
    color: white;
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
}

.btn-wrap {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.btn-wrap a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    max-width: max-content;
    width: 100%;
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    font-size: 20px;
    line-height: 24px;
}

.btn-wrap a:hover {
    background-color: #15374F;
    color: white;
    border: 1px solid #15374F;
}

@media(max-width:640px) {
    .content h1 {
        font-size: 32px;
        line-height: 28px;
    }

    .btn-wrap a {
        padding: 8px 20px;
        border-radius: 5px;
        font-size: 16px;
        line-height: 20px;
    }
}
